In [8]:
# Exercise 1: Filter out all of the empty strings from the list below
places = [' ', 'Argentina', '  ', 'San Diego', '', '   ', '', 'Boston', 'New York']
# = [Argentina, San Diego, Boston, New York]


list(filter(lambda x: x.strip(), places))

['Argentina', 'San Diego', 'Boston', 'New York']

In [6]:
# Exercise 2: Write an anonymous function that sorts this list by the last name...
# Hint: Use the ".sort()" method and access the key"

# .sort(key=)
authors = ["Connor Milliken", "Victor aNisimov", "Andrew P. Garfield", "David HassELHOFF", "Oprah wInfrey"]

sorted(authors, key=lambda t:t.split()[-1].lower() )

['Victor aNisimov',
 'Andrew P. Garfield',
 'David HassELHOFF',
 'Connor Milliken',
 'Oprah wInfrey']

In [14]:
# Exercise 3: Convert the list below from Celsius to Farhenheit, using the map function with a lambda...

places = [('Nassau', 32), ('Boston', 12), ('Los Angeles', 44), ('Miami', 29)]

#F = C * 9/5 + 32

list(map(lambda n: (n[0], n[1]*9/5 +32), places))

[('Nassau', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [21]:
# Exercise 4: Write a recursive function to perform the fibonacci sequence up to the number passed in.

def fib_seq(n):
    
# Option 1 works but is more tedious     
#     if n < 0:
#         return False
#     if n == 0:
#         return 0
#     if n == 1:
#         return 1

    if n < 2:
        return n
    else:
        return fib_seq(n-1) + fib_seq(n-2)

        
        
fib_seq(4)

#fib = 0, 1, 1, 2, 3, 5, 8, 13, 21 etc

3